body {
  background-image: linear-gradient(rgba(90, 154, 238, 0.527), rgba(202, 61, 61, 0.6)), url('../src/assets/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
text-align: center;
margin-top: 2rem;
}

.contact {
  list-style-type: none;
 padding-left: 1px;
}

.cv-container {
  border:2px solid #e0e0e0;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 10rem;
  max-width: 35%;
 max-height: fit-content;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: rgba(198, 225, 235, 0.5);
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.bold {
  font-weight: bold;
  color: #333;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  color: #333; 
  font-size: 1.8rem; 
  margin-bottom: 1rem;
}

p {
  font-family: Arial, sans-serif; 
  color: #555; 
  line-height: 1.4;
}

.photo {
  width: 150px;
  height: 190px;
  transition: transform 0.3s ease;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photo:hover {
  transform: scale(5);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.profile {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(165, 73, 73);
}

.cv-column {
  flex: 1;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .cv-container {
    max-width: 100%;
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  .cv-column {
    padding: 10px;
  }
  .photo {
    width: 100px;
    height: 140px;
  }
  .photo:hover {
    transform: scale(2);
  }
}